<!--TELA DE ESQUECI MINHA SENHA-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<link rel="stylesheet" href="../../static/css/root.css">
<link rel="stylesheet" href="../../static/css/auth/auth.css">
</head>
<body>

    <div class="page-wrapper">
        <div class="auth-card">
            
            <span class="icon-header">📩</span>
            <h1>Recuperar senha</h1>
            <p class="instruction-text">
                Enviaremos um link de recuperação para o e-mail cadastrado na sua conta.
            </p>

            <form class="auth-form" action="/auth/request-recovery" method="POST">
                <div class="input-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" placeholder="exemplo@email.com" required>
                </div>

                <button type="submit" class="btn-submit">Enviar Link de Acesso</button>
            </form>

            <div class="card-footer">
                <a href="/auth/login" class="back-link">
                    ← Voltar para o login
                </a>
            </div>

        </div>
    </div>

</body>
</html>